* {
  font-family: "Montserrat",sans-serif;
  margin: 0;
  padding: 0;
}
body {
  background: #FAF0F0;
}
h1 {
  text-align: center;
}
a {
  text-decoration: none;
  color: black;
}
.boardDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}
input {
  z-index: 32;
}
table {
  border: 1px solid black;
}
td {
  margin: 0px;
  padding: 0px;
  margin: auto;
}
td.selected {
  background: #8d7424 !important;
  opacity: 1;
}
.square {
  width: 10vh;
  height: 10vh;
  border: 1px solid black;
  margin: auto;
  text-align: center;
}
.square-contents {
  display: flex;
  align-items: center;
  justify-content: center;
}
.piece-text {
  position: absolute;
  z-index: 2;
}
.piece {
  width: 9vh;
  height: 9vh;
}
.endzone {
  height: 10vh;
  border: 1px solid black;
  text-align: center;
}
.grid {
  z-index: 10;
  position: absolute;
}
.grid td:hover{
  background: #8d7424 !important;
  opacity: .6;
}
.game-information {
  position: absolute;
  right: 100px;
  top: 30%;
  width: 250px;
  border: 2px solid black;
  padding: 10px;
  line-height: 1.5;
}
.error {
  color: #e60000;
  font-weight: bold;
}
